
  .container{
    max-height: 100vh;
    @media only screen and (min-width:1120px){
      overflow: hidden;
    }
    .overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      min-height: 100%;
      z-index: 998;
    }
    .goTop{
      font-size: 16px;
      position: fixed;
      bottom: 30px;
      right: 30px;
      z-index: 999;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }   
}
.wrapper{
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 34px;
  justify-content: space-between;
  justify-items: center;
  @media only screen and (max-width:1160px){
    grid-template-columns: repeat(1,1fr);
  }
}
.left{
  width: 100%;
  .content{
    width: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 10px solid #0F0F0F;
    @media only screen and (max-width:1120px){
      min-height: 30vh;
      border-right: 5px solid #0F0F0F;
      padding: 50px 0;
    }
    .gallery,
    .the{
        font-weight: 500;
        font-size: 60px;
        letter-spacing: 0.14em;
        color: #000000;
        text-transform: uppercase;
        @media only screen and (max-width:1460px){
          font-size: 36px;
        }
        @media only screen and (max-width:560px){
          font-size: 28px;
        }
    }
    .gallery{
        font-weight: 200;
        font-size: 80px;
        letter-spacing: 0.34em;
        color: #000000;
        @media only screen and (max-width:1460px){
          font-size: 60px;
          letter-spacing: 0.24em;
        }
        @media only screen and (max-width:560px){
          font-size: 40px;
          letter-spacing: 0.24em;
        }
    }      
  }
}
.right{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;    
  .filterBar{
    // position: relative;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 18px 45px;
    background-color: #0F0F0F;
    box-shadow: 0 0 20px #D9D9D9;
    position: sticky;
    top: 0;
    z-index: 998;
    
    @media only screen and (max-width:580px){
      padding: 15px 30px;
    }

    .searchInput{
      position: relative;
      width: 65%;
      display: flex;
      align-items: center;
      @media only screen and (max-width:1580px){
        width: 60%;
      }
      @media only screen and (max-width:580px){
        width: 50%;
      }
      input[type='text']{
        position: relative;
        z-index: 2;
          width: 100%;
          height: 49px;
          border: 7px solid #5B5947;
          font-weight: 400;
          font-size: 15px;
          color: #6A6A6A;
          background: transparent;
          padding: 10px;
          padding-right: 50px;

          @media only screen and (max-width:580px){
            border: 3px solid #5B5947;
            height: 30px;
            margin-right: 10px;
            margin-top: 10px;
            font-size: 12px;
          }
      }
      .searchButton{
        border: none;
        outline: none;
        position: absolute;
        right: 10px;
        background: transparent;
        z-index: 999;
        transition: all .2s;
        @media only screen and (max-width:580px){
          right: 15px;
          top: 12px;
        }
        &:hover{
          cursor: pointer;
          transform: scale(1.05);
        }
        &:active{
          cursor: pointer;
          transform: scale(.93);
        }
        svg{
          width: 30px;
          @media only screen and (max-width:580px){
            width: 22px;
          }
        }
      }
    }
    .sortingWrapper{
      position: relative;
      z-index: 999;
      width: 240px;
      border-radius: 27px;
      background-color: #0F0F0F;
      border: 1px solid #F3AD26;
      color: #fff; 
      margin-top: 2px; 
      cursor: pointer;   
      caret-color: transparent;    
      @media only screen and (max-width: 1360px){
        width: 180px;
      }
      @media only screen and (max-width: 560px){
        border-radius: 17px;
        width: 130px;
        margin-top: 10px;
      }
      .options{
        list-style: none;
        text-align: center;
        padding: 10px 0;
        max-height: 60vh;
        overflow-y: scroll;     
        &::-webkit-scrollbar
        {
          width: 0px;
        }
        @media only screen and (max-width:1160px){
          max-height: 30vh;
        }
        .option{
          padding: 5px;
          &:hover{
            background: rgb(53, 53, 53);
          }
        }
      }

      .sorting{
          width: 240px;
          height: 49px;
          border: 2px solid #F3AD26;
          border-radius: 45px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-weight: 400;
          font-size: 15px;
          color: #F3AD26;
          text-transform: uppercase;
          position: sticky;
          top: 0;
          z-index: 999;
          padding: 4px;
          @media only screen and (max-width: 1360px){
            width: 180px;
            height: 39px;
          }
          @media only screen and (max-width: 560px){
            width: 130px;
            height: 30px;
            font-size: 12px;
          }
          .addBtn, .minusBtn{
            width: 25px;
            height: 25px;
            color: #000;
            font-size: 20px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background: #F3AD26;
            transition: all .2s;
            @media only screen and (max-width: 560px){
              width: 18px;
              height: 18px;
            }
            &:active{
              cursor: pointer;
              transform: scale(.95);
            }
            span::selection{
              background: transparent;
            }
          }
      }

    }
    .hideOptions{
      height: 49px;
      border: none;
      overflow-y: hidden;
      @media only screen and (max-width: 1360px){
        height: 39px;
      }
      @media only screen and (max-width: 560px){
        width: 130px;
        height: 30px;
      }
    }
    .blur-box{
      position: absolute;
      bottom: -0.5px;
      left: -2px; 
      width: 42px;
      height: 42px;
      @media only screen and (max-width:1460px){
        bottom: -0.8px;
        width: 30px;
        height: 30px;
      }
      img{
        width: 100%;
        height: 100%;
      }
  }
  }
  .cards{
    position: relative;
    padding: 40px 10px !important;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, max-content));
    grid-gap: 15px;
    justify-content: space-between;
    scroll-behavior: smooth;
    
    @media only screen and (min-width:1120px){
      max-height: 90vh;
      overflow-y: scroll;
    }
    
    @media only screen and (max-width:1620px){
      justify-content: space-evenly;
    }
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: #0F0F0F;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: #303030;
    }
    .no-nft{
      font-weight: 500;
      font-size: 60px;
      letter-spacing: 0.14em;
      color: #000000;
      text-align: center;
      text-transform: uppercase;
      margin-top: 30%;
    }
  }

}